{% extends "base.html" %}
{% block contents %}
<div class="leader">

  <div class="row">
    <div class="col-md-12">
      <div id="map-canvas"></div>
    </div>
  </div>

  <div class="row">
    
    <div class="house wrapper">
      <div class="image wrapper">
        <img src="http://upload.wikimedia.org/wikipedia/commons/d/da/Margaret_Mitchell_house_atlanta_2006.jpg"/>  
      </div>
      
      <div class="info">
        {% if property.id %}
        <p class="price">
          {{property.price}}
        </p>
        <h2>{{property.address}} <br/> {{property.postcode}}</h2>
        <div class="rating">
          <i class="star full"></i>
          <i class="star full"></i>
          <i class="star full"></i>
          <i class="star empty"></i>
          <i class="star empty"></i>
        </div>
        <p>{{property.description}}</p>
    
    
        {% else %}
    
        <form role="form" action="{% url 'reviews:new' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="postcode" value="{{property.postcode}}">
          <div class="form-group">
            <textarea class="form-control" rows="2" placeholder="Address" name="new_address"></textarea>
          </div>
          <h2>{{property.postcode}}</h2>
          <div class="form-group">
            <textarea class="form-control" rows="1" placeholder="Description" name="description"></textarea>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-primary">Add Property</button>
          </div>
        </form>
      
        {% endif %}
      </div>
      
    </div>
  </div>

</div>


{% if property.id %}

<ul class="timeline">
  
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-10 col-md-11">
        <form role="form" action="{% url 'reviews:comment' property.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" rows="1" name="comment_title" placeholder="Title"></textarea>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" name="comment_body" placeholder="Comment"></textarea>
                  </div>                             
                  <div class="row">     
                                 
                    <div class="knob column">
                      <div class="wrapper">
                        <input type="text" value="75" class="dial" data-angleoffset="-125" data-anglearc="250" data-width="75" data-height="75">
                      </div>
                      <div class="label label-default">
                        Cleanliness
                      </div>
                    </div>
                    
                    <div class="knob column">
                      <div class="wrapper">
                        <input type="text" value="75" class="dial" data-angleoffset="-125" data-anglearc="250" data-width="75" data-height="75">
                      </div>
                      <div class="label label-default">
                        Helpfulness
                      </div>
                    </div>
                    
                    
                </div>
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> By: <a href="#">{{user}}</a> on {% now "M. d, Y" %}</small></p>
          
              </form>
            </div>
    </div>
  </li>

  {% for comment in comments reversed %}

  <li {% cycle '' 'class="timeline-inverted"' %}>
    <div class="timeline-badge"><i class="glyphicon glyphicon-home"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h3 class="timeline-title">{{comment.title}}</h3>
      </div>
      <div class="timeline-body">
        {{comment.body}}
        <div>
      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> By: <a href="#">{{comment.author}}</a> on {{comment.date}}</small></p>
    </div>
  </li>
  {% endfor %}
  {% endif %}
</ul>

{% endblock contents %}
