{% extends "base.html" %}
{% block contents %}
<div class="leader">
	<div class="row">
		
		<div class="house wrapper">
			<img src="http://upload.wikimedia.org/wikipedia/commons/d/da/Margaret_Mitchell_house_atlanta_2006.jpg"/>
		</div>
		<div class="info">
			<p class="price">
				{{price}}
			</p>
			<h2>{{address}}</h2>
			<div class="rating">
				<i class="star full"></i>
				<i class="star full"></i>
				<i class="star full"></i>
				<i class="star empty"></i>
				<i class="star empty"></i>
			</div>
		</div>
		
	</div>
	
	<div class="row">
		<div id="map-canvas"></div>
	</div>

</div>
	
<div class="comments">
	<div class="row">
		<div class="panel panel-default widget">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-comment"></span>
				<h3 class="panel-title">
					Reviews
				</h3>
				<span class="label label-info">
					{{comments|length}}
				</span>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					{% for comment in comments %}
							
					<li class="list-group-item">
							
						<div class="row">
							<div class="col-xs-2 col-md-1">
								<img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
							</div>
								
							<div class="col-xs-10 col-md-11">
								<div>
									<a href="http://bootsnipp.com/BhaumikPatel/snippets/4ldn">Star rating here</a>
									<div class="mic-info">
										By: <a href="#">{{comment.author}}</a> on 11 Nov 2013
									</div>
								</div>
								<div class="comment-text">
									{{comment.body}}
								</div>
								<div class="action">
									<button type="button" class="btn btn-primary btn-xs" title="Edit">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button type="button" class="btn btn-success btn-xs" title="Approved">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
									<button type="button" class="btn btn-danger btn-xs" title="Delete">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</div>
							</div>
						</div>
					</li>
					{% endfor %}
							
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-2 col-md-1">
								<img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
							</div>
							<div class="col-xs-10 col-md-11">
								<div>
									<a href="http://bootsnipp.com/BhaumikPatel/snippets/4ldn">Star rating here</a>
									<div class="mic-info">
										By: <a href="#">{{current_user}}</a> on 11 Nov 2013
									</div>
								</div>
								<form role="form" action="{% url 'reviews:comment' property.id %}" method="post">
									{% csrf_token %}
									<div class="form-group">
										<textarea class="form-control" rows="5" name="comment_body"></textarea>
									</div>
									<div class="pull-right">
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</li>
				</ul>
				<a href="#" class="btn btn-primary btn-sm btn-block" role="button">
					<span class="glyphicon glyphicon-refresh"></span> More
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock contents %}
