{% extends "base.html" %}
{% block contents %}
<div class="row">
	
{% for property in properties %}

	<div class="col-md-12">
		<div class="well well-sm">
			<div class="row">
				<div class="col-xs-3 col-md-3 text-center">
					<img src="http://upload.wikimedia.org/wikipedia/commons/d/da/Margaret_Mitchell_house_atlanta_2006.jpg" alt="Image"
					class="img-rounded img-responsive" />
				</div>
				<div class="col-xs-9 col-md-9 section-box">
					<h2>
						<a href="{% url 'reviews:property' property.id %}">{{property.address}}</a>
					</h2>
					<div class="rating">
						<i class="star full"></i>
						<i class="star full"></i>
						<i class="star full"></i>
						<i class="star empty"></i>
						<i class="star empty"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endfor %}	
	
</div>
{% endblock contents %}